extends layout

block content
  form(action="/books" method="post")
    label(for="search") Search books 
    input(name= "search" type="text" id="search" placeholder="What would you like to read?")
    input(type="submit" value="Start Search")
  h1 Books
  p
    a(href="/books/new" class="button") Create New Book
  table
    thead
      tr
        th Title 
        th Author 
        th Genre 
        th Year
    tbody
      each book in books
        tr
          td 
            a(href="/books/" + book.id) #{book.title} 
          td #{book.author}
          td #{book.genre}
          td #{book.year}
  - var l = 1;
  - var n= 1;
  ul(class="pagination")
    li
      a(href=page-1) <<
    while n <= pages && n<=5
      li
        a(href=l++)=n++
    li
      a(href=page+1) >>
  
